
@import url(../fonts/all.css);
@import url(fonts.css);
body{
  background: url(../images/Splash.png);
    /* width: 100%; */
    text-align: center;
    padding: 24px 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 0 auto;
    /* padding: 24px 16px; */
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}


#curve{
    position: relative;
    background: #FFFFFF;
    border-radius: 16px;
    max-width: 336px;
    padding: 24px;
    text-align: center;
}
#curve .head{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #030E17;
 }  
  .choose{
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #B7C2CA;
  text-align: left;
  box-sizing: border-box;
 
}
.choose p{
  font-family: HelveticaNeueCyr;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #030E17;
margin: 0;
  padding: 9px 16px;
}
.choose::before{
position: absolute;
content: "";
top: 18px;
right: 23px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #C5C9D5 transparent transparent transparent;
}

.choose::after {
border-color: transparent transparent  #43495C transparent;
top: 7px;
}
.states{
  background: #FFFFFF;
box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 8px;
overflow: hidden;
margin-top: 5px;

}
.states a{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #030E17;
display: block;
text-decoration: none;
text-align: left;
padding:9px 16px;
border-bottom: 0.5px solid #E0E0E0;;
}

.states a:hover{
    background: rgba(0, 0, 0, 0.2);
}
 /*hide the items when the select box is closed:*/
 
 .img{
  margin: 0 auto;
 }
 img{
   width: 90%;
  margin-top: 85px;
 }


 @media screen and (min-width: 750px){
   .container{
     width: 90%;
     max-width: 1074px;
     padding: 0;
     display: flex;
     padding-top: 121px;
     justify-content: space-between;
   }

   img{
     margin: 0;
     width: 80%;
   }
   #curve{
    width: 100%;
    height: 86px;
   }
 }

 
 @media screen and (min-width: 1024px){
  #curve{
    margin-top: 100px;
   
   }

}
 @media screen and (min-width: 1280px){
  .container{
    width: 100%;
    max-width: 1074px;
    padding: 0;
    display: flex;
    padding-top: 121px;
    justify-content: space-between;
  }

  img{
    margin: 0;
    width: 100%;
  }
  #curve{
   margin-top: 100px;
  }
}